a.link
{
color:red;
text-decoration:none;
background-color:green;

}
a.visited
{
color:green;
text-decoration:overline;
background-color:blue;
}
a.hover{
color:pink;

}
a.active{
color:blue;
text-decoration:underline;
background-color:green;
}
